body
{
height:auto;
width:100%;
padding:5px;
color:#fff;
margin:opx auto;
}
#register_container
{
width:90%;
margin:0 auto;
box-shadow:1px 1px 5px #000000;
padding:0;
}
#table_div
{
width:50%;
height:auto;
margin:3px auto;
background-color:#33CCCC;
float:none;
border-collapse:collapse;
}

.flag img {
  padding: 0px;
  margin: 0 auto;
  padding-top: 5px;
  line-height: 10px;
         }
		 
.submit button[type="submit"] 
{
background:linear-gradient(to bottom,#2D8AEB 0%,#2D8AEB 100%) repeat scroll 0 0 rgba(0,0,0,0);
border:1px solid #1465B5;
border-radius:3px;
color:#ffffff;
font-size:14px;
font-weight:bold;
height:35px;
margin-left:220px;

width:80px;
}		
.text
{
width:50%;
height:25px;
}
#months
{
width:50px;
}
td
{
width:25px;
border-bottom:2px solid #00FFFF;
}
#date
{
width:50px;
}
td
{
width:25px;
}
#year
{
width:50px;
}
td
{
width:25px;
}